<section class="tagcloud">
<%- tagcloud({
    min_font: 15,
    max_font: 50,
    unit: 'px',
    amount: 40,
    color: true,
    start_color:'rgba(100, 022, 77, 1)',
    end_color:'rgba(194, 250, 255, 1)'
}) %>
</section>