<section class="tagcloud">
    <div class="tags">
<%- tagcloud({
    min_font: 15,
    max_font: 50,
    unit: 'px',
    amount: 40,
    color: true,
    
    start_color:'rgba(30,144,255, 1)',
    //start_color:'rgba(100, 022, 77, 1)',
    end_color:'rgba(255,69,0, 1)'
}) %>
</div>
</section>